.best-product {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 260px;
  margin-top: 26px;
}

.best-product__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}

.best-product__mark {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  margin: 6px 0;
  margin-bottom: 22px;
}

.best-product__text {
  width: 260px;
  margin: 0;
}

.best-product__list {
  margin-top: 16px;
  margin-bottom: 25px;
  margin-left: -2px;
}

.cell {
  border-bottom: 1px solid #ececec;
  padding: 6px 0 8px 0;
}

.best-product__value {
  padding-right: 26px;
}

.best-product__bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best-product__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding: 19px 0 24px;
}

.best-product__param {
  width: 95px;
}

.best-product__order {
  height: 53px;
}

@media all and (min-width: 768px) {
  .best-product {
    width: 667px;
    margin-top: 37px;
    margin-bottom: 123px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .best-product__title {
    font-size: 43px;
    line-height: 43px;
    margin-bottom: 53px;
    margin-left: -4px;
    width: 500px;
  }

  .best-product__mark {
    width: 73px;
    text-align: center;
    line-height: 17px;
    margin-left: 73px;
    margin-top: 9px;
  }

  .best-product__content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    picture {
      margin-top: 7px;
    }
  }

  .best-product__text {
    width: 300px;
    font-size: 17px;
    line-height: 30px;
  }

  .best-product__list {
    margin-top: 35px;
    margin-left: -3px;
  }

  .best-product__bottom-wrapper {
    margin-top: -134px;
    margin-left: -4px;
  }

  .best-product__price {
    font-size: 20px;
    padding-bottom: 33px;
  }

  .best-product__order {
    width: 293px;
  }
}

@media all and (min-width: 1150px) {
  .best-product {
    width: 1050px;
    margin-top: 114px;
    margin-bottom: 162px;
  }

  .best-product__title {
    font-size: 53px;
    line-height: 53px;
    width: 600px;
    order: 2;
  }

  .best-product__mark {
    margin-left: 46px;
    margin-top: 13px;
    margin-right: 56px;
    order: 1;
  }

  .best-product__list {
    margin-top: 45px;
  }

  .best-product__content-wrapper {
    margin-left: 175px;
    order: 3;

    picture {
      margin-top: -158px;
      z-index: -2;
    }
  }

  .best-product__bottom-wrapper {
    margin-top: -138px;
    margin-left: 1px;
  }
}
