.contacts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contacts__about {
  margin: 0 auto;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 29px;
  position: relative;
}

.contacts__item {
  display: flex;
  font-size: 15px;
  padding-bottom: 36px;
}

.contacts__value {
  padding-right: 28px;
}

.contacts__field {
  line-height: 30px;
}

.contacts__link {
  border-bottom: 1px solid #62d1ba;
  padding-bottom: 4px;
}

.contacts__write {
  margin: 38px auto;
  height: 14px;
}

@media all and (min-width: 320px) {
  .contacts {
    width: 320px;
  }

  .contacts__about {
    width: 260px;
  }

  .contacts__items-wrapper {
    margin-bottom: 9px;
  }

  .contacts__item {
    padding-bottom: 28px;
  }

  .contacts__map {
    width: 320px;
    height: 460px;
  }
}

@media all and (min-width: 768px) {
  .contacts {
    width: 768px;
    margin-top: 164px;
  }

  .contacts__title::after {
    .pseudo;
    background-image: url("../img/icon-flag.svg");
    width: 47px;
    height: 81px;
    top: -20px;
    right: 0;
  }

  .contacts__about {
    width: 668px;
    margin-bottom: 35px;
  }

  .contacts__title {
    font-size: 43px;
    margin-bottom: 64px;
  }

  .contacts__items-wrapper {
    display: flex;
  }

  .contacts__item {
    width: 334px;
  }

  .contacts__map {
    width: 768px;
    height: 460px;
  }

  .contacts__write {
    width: 230px;
    margin: 58px auto;
  }
}

@media all and (min-width: 1150px) {
  .contacts {
    display: flex;
    width: 1150px;
  }

  .contacts__about {
    width: 350px;
    margin-left: 175px;
  }

  .contacts__title {
    font-size: 53px;
    margin-bottom: 60px;
  }

  .contacts__title::after {
    top: -20px;
    right: auto;
    left: -100px;
  }

  .contacts__items-wrapper {
    display: block;
  }

  .contacts__item {
    padding-bottom: 36px;
  }
}
