.form {
  margin: 0 auto;
  width: 260px;
  margin-top: 24px;
}

@font: "OpenSans", "Arial", "Helvetica", sans-serif;

.form__input {
  font-family: @font;
  font-size: 17px;
  line-height: 17px;
  border: none;
  border-bottom: 2px solid #000000;
  width: 260px;
}

.form__input:hover,
.form__input:focus {
  border-color: #62d1ba;
}

.form__input:active {
  color: #444444;
}

.form__list {
  border: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.form__list-wrapper {
  position: relative;

  &::after {
    content: "";
    border: 0.5px solid #63d1bb;
    position: absolute;
    width: 260px;
    right: 0;
    top: 9px;
    z-index: -1;
  }
}

.form__legend {
  font-family: @font;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
  padding-right: 26px;
  margin-bottom: 25px;
  margin-left: -2px;
  width: max-content;
  background-color: #ffffff;
}

.form__label {
  font-family: @font;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  color: #000000;
  margin-top: -4px;
}

.form__inscription {
  font-size: 14px;
  line-height: 16px;
}

.form__input-textarea {
  border: 2px solid black;
}

.form__group-wrapper {
  padding-top: 7px;
}

.form__group,
.form__label {
  cursor: pointer;
}

.form__group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form__radio,
.form__checkbox {
  visibility: visible;
}

.form__radio:hover + .radio-indikator,
.form__checkbox:hover + .checkbox-indikator {
  border-color: #62d1ba;
}

.form__group:hover .radio-indikator,
.form__group:hover .checkbox-indikator {
  border-color: #62d1ba;
}

.form__radio:focus + .radio-indikator,
.form__checkbox:focus + .checkbox-indikator {
  border-color: #62d1ba;
}

.form__radio:active + .radio-indikator,
.form__checkbox:active + .checkbox-indikator {
  border-color: rgba(0, 0, 0, 0.3);
}

.form__radio + .radio-indikator::before {
  .pseudo;
  background-color: #62d1ba;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  display: none;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
}

.form__checkbox + .checkbox-indikator::before {
  .pseudo;
  background-image: url("../img/icon-tick.svg");
  background-size: 23px;
  width: 23px;
  height: 22px;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  display: none;
}

.form__radio:checked + .radio-indikator::before,
.form__checkbox:checked + .checkbox-indikator::before {
  display: block;
}

.checkbox-indikator {
  border: 2px solid #444444;
  display: inline-block;
  position: relative;
  width: 36px;
  height: 35px;
  margin: 0;
  margin-right: 23px;
  margin-top: -1px;
  margin-bottom: 3px;
}

.radio-indikator {
  border-radius: 50%;
  border: 2px solid #444444;
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  margin: 0;
  margin-right: 23px;
}

.form__list-wrapper-name {
  .form__group {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 26px;
  }

  .form__label {
    margin-bottom: 13px;
  }

  .form__input {
    padding-bottom: 14px;
  }
}

.form__telephone-mail-wrapper {
  margin-top: -6px;

  .form__legend {
    margin-bottom: 19px;
  }
}

.form__input-tel,
.form__input-email {
  padding-bottom: 14px;
  margin-bottom: 21px;
}

.form__img {
  position: absolute;
  top: 35px;
  right: 6px;
  opacity: 0.2;
}

.form__input:hover + .form__img,
.form__input:focus + .form__img {
  opacity: 1;
  fill: #62d1ba;
}

.form__input-textarea {
  padding: 15px;
  padding-bottom: 20px;
  box-sizing: border-box;
  margin-bottom: 6px;
  resize: none;
}

.form__submit {
  width: 260px;
  margin-top: 27px;
  margin-bottom: 54px;
  padding: 15px 0;
  font-size: 17px;
}

@media all and (min-width: 768px) {
  .form {
    margin: 0;
    width: 100%;
  }

  .form__list {
    border: none;
    display: flex;
    width: 668px;
    margin: 0 auto;
  }

  .form__list-wrapper {
    display: flex;
    padding-top: 55px;
    padding-bottom: 27px;

    &::after {
      display: none;
    }
  }

  .form__radio-wrapper .form__label {
    width: 400px;
  }

  .form__list-wrapper-color {
    padding-top: 50px;
  }

  .form__checkbox + .checkbox-indikator::before {
    background-size: 33px;
    width: 33px;
    height: 33px;
    margin-top: -15px;
    margin-left: -15px;
  }

  .form__list-wrapper-name {
    padding-top: 66px;
    padding-bottom: 10px;

    .form__legend {
      padding-top: 0;
    }

    .form__group {
      flex-direction: row;
      margin-bottom: 43px;
      display: flex;
    }

    .form__input {
      font-size: 19px;
      padding-bottom: 13px;
      margin-left: 24px;
      padding-left: 17px;
      margin-top: -9px;
      flex: 1;
    }
  }

  .form__group-wrapper {
    padding: 0;
  }

  .form__group {
    margin-bottom: 24px;
    width: 501px;
  }

  .form__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 468px;
  }

  .form__checkbox-wrapper {
    .form__group {
      width: 215px;
    }

    .form__label {
      width: 135px;
    }
  }

  .form__legend {
    width: 141px;
    padding-top: 18px;
    background-color: transparent;
  }

  .form__color-wrapper,
  .form__telephone-mail-wrapper {
    background-color: #f1f1f1;
  }

  .form__list-telephone .form__input,
  .form__list-mail .form__input {
    background-color: #f1f1f1;
    width: 501px;
  }

  .form__input-tel,
  .form__input-email {
    margin-top: 13px;
    font-size: 19px;
    padding-left: 17px;
    padding-bottom: 12px;
  }

  .form__list-mail {
    .form__list-wrapper {
      padding: 0;
      padding-bottom: 29px;
      padding-left: 15px;
    }
  }

  .form__list-telephone {
    .form__list-wrapper {
      padding-bottom: 1px;
      padding-left: 15px;
      padding-top: 51px;
    }
  }

  .form__img--tell {
    top: 64px;
    right: 43px;
  }

  .form__img--email {
    top: 13px;
    right: 38px;
  }

  .radio-indikator,
  .checkbox-indikator {
    width: 48px;
    height: 48px;
    margin-right: 28px;
    margin-bottom: 1px;
  }

  .form__radio + .radio-indikator::before {
    width: 21px;
    height: 21px;
    margin-top: -10px;
    margin-left: -10px;
  }

  .form__label {
    font-size: 19px;
  }

  .form__list-textarea {
    .form__list-wrapper {
      padding-top: 49px;
    }
  }

  .form__input-textarea {
    width: 500px;
    height: 143px;
    font-size: 19px;
  }

  .form__submit-wrapper {
    width: 668px;
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 49px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__inscription {
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }

  .form__submit {
    width: 230px;
    order: 1;
    margin: 0;
  }
}

@media all and (min-width: 1150px) {
  .form__list {
    width: 933px;
  }

  .form__checkbox-wrapper {
    width: 731px;
  }

  .checkbox-indikator {
    width: 51px;
  }

  .form__legend {
    width: 115px;
    padding-right: 0;
  }

  .form__group {
    width: 700px;
  }

  .form__list-mail {
    .form__list-wrapper {
      padding-left: 0;
    }
  }

  .form__list-telephone {
    .form__list-wrapper {
      padding-left: 0;
    }
  }

  .form__list-telephone .form__input,
  .form__list-mail .form__input {
    width: 680px;
  }

  .form__img--tell {
    right: 125px;
  }

  .form__img--email {
    right: 120px;
  }

  .form__input-textarea {
    width: 700px;
  }

  .form__submit-wrapper {
    width: 700px;
    margin-top: 16px;
    margin-bottom: -52px;
  }
}
