.form__input {
  font-family: 'OpenSans', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 17px;
  border: none;
  border-bottom: 2px solid black;
  width: 260px;
}

.form__legend {
  font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}

.form__label {
  font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: black;
}

.form__inscription {
  font-size: 14px;
  line-height: 16px;
}
