.page-footer {
  background-color: #f1f1f1;
  width: 100%;
}

.page-footer__wrapper {
  margin: 0 auto;
  width: 320px;
}

.page-footer__logo {
  display: none;
}

.social__list {
  .no-list;
  display: flex;
  justify-content: space-between;
  width: 140px;
  padding: 0 60px;
  padding-top: 29px;
  padding-bottom: 21px;
}

.social {
  width: 267px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 auto;
}

.social__item {
  position: relative;
  width: 22px;
  height: 30px;
}

.social__link--facebook {
  position: relative;
  top: -4px;
  left: 4px;
}

.social__link:hover {
  fill: #46c1ae;
}

.social__link:focus {
  fill: #46c1ae;
}

.social__link:active {
  opacity: 0.3;
}

.copyright {
  position: relative;
  width: 185px;
  padding: 25px 39px;
  margin: 0 auto;
}

.copyright__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 19px;
  color: #000000;
}

.copyright__link {
  opacity: 0.7;

  &::before {
    .pseudo;
    background-image: url("../img/logo-htmlacademy.svg");
    width: 27px;
    height: 34px;
    top: 22px;
    right: 41px;
  }
}

.copyright__link:hover {
  opacity: 1;
}

.copyright__link:focus {
  opacity: 1;
}

.copyright__link:active {
  opacity: 0.3;
}

@media all and (min-width: 768px) {
  .page-footer__wrapper {
    width: 668px;
    display: flex;
    justify-content: space-between;
    padding: 37px 0 27px;
    position: relative;
  }

  .page-footer__logo {
    display: inline-block;
    padding-top: 14px;
  }

  .page-footer__logo:hover {
    fill: #46c1ae;
  }

  .page-footer__logo:focus {
    fill: #46c1ae;
  }

  .page-footer__logo:active {
    opacity: 0.3;
  }

  .social {
    width: 260px;
    border-bottom: none;
    margin: 0;
  }

  .social__list {
    padding-left: 109px;
    padding-top: 27px;
  }

  .copyright {
    margin: 0;
    padding-right: 0;
    padding-left: 23px;
  }

  .copyright__link::before {
    right: 0;
  }
}

@media all and (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1050px;
    margin-top: 101px;
  }

  .social__list {
    padding-left: 205px;
  }

  .social {
    margin-right: 190px;
  }
}
