.page-footer {
  background-color: #f1f1f1;
  width: 100%;
}

.page-footer__wrapper {
  margin: 0 auto;
}

.social__list {
  .no-list;
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.social__item {
  position: relative;
  width: 22px;
  height: 30px;
}

.social__link {
  &--instagram::before {
    background-image: url("../img/icon-insta.svg");
    width: 22px;
    height: 30px;
    left: 0;
  }

  &--facebook::before {
    background-image: url("../img/icon-fb.svg");
    width: 22px;
    height: 30px;
    left: 0;
  }

  &--twitter::before {
    background-image: url("../img/icon-twitter.svg");
    width: 22px;
    height: 30px;
    left: 0;
  }
}

.copyright {
  position: relative;
  width: 147px;
}

.copyright__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 19px;
  color: #000000;
}

.copyright__link::before {
  background-image: url("../img/logo-htmlacademy.svg");
  width: 27px;
  height: 34px;
  top: 23px;
  right: 0;
}


@media (min-width: 320px) {
  .page-footer__wrapper {
    width: 320px;
  }

  .social {
    width: 260px;
    border-bottom: 1px solid #e5e5e5;
  }

  .social__list {
    padding: 0 60px;
    padding-top: 24px;
    padding-bottom: 28px;
  }

  .copyright {
    padding: 23px 39px;
  }
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 668px;
    display: flex;
    justify-content: space-between;
  }

  .social {
    width: 260px;
    border-bottom: none;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
