.page-header {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: absolute;
  z-index: 2;
}

.main-nav {
  width: 260px;
  margin: 0 auto;
}

.main-nav__toggle {
  position: relative;
  top: -12px;
  border: 0;
  background-color: transparent;
  width: 21px;
  height: 14px;

  &::before {
    .pseudo;
    background-image: url("../img/icon-menu-open.svg");
    width: 21px;
    height: 14px;
    right: 0;
  }
}

.main-nav__item-mob {
  padding: 25px 0 29px 22px;
  border-top: 1px solid #ececec;
}

.page-header__logo {
  margin-left: 87px;
  margin-right: 62px;
  margin-top: 5px;
  display: inline-block;
}

.site-list {
  .no-list;
  margin-top: 14px;

  .main-nav__item-mob {
    padding-left: 46px;
  }
}

.header-search__input {
  border: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  width: 200px;
}

.page-header__link,
.header-search {
  cursor: pointer;
}

.page-header__link:hover {
  opacity: 0.6;
}

.page-header__link:active {
  opacity: 0.3;
}

.header-search__img,
.basket__img {
  opacity: 0.2;
  position: relative;
  left: -20px;
  top: 2px;
}

.header-search__img:hover,
.basket__link:hover .basket__img {
  fill: #63d1bb;
  opacity: 1;
}

.header-search__img:active,
.main-nav__basket:active .basket__img {
  opacity: 0.3;
}

.site-list-sale {
  display: none;
}

.main-nav__info {
  display: none;
}

@media all and (min-width: 768px) {
  .page-header {
    font-size: 15px;
  }

  .main-nav {
    display: flex;
    width: 668px;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item-mob {
    border: 0;
    padding: 0;
  }

  .site-list {
    display: flex;
    justify-content: space-between;
    width: 304px;
    padding: 0;
    margin: 0;
    order: 1;
  }

  .site-list__item {
    padding: 16px 0;
  }

  .site-list .main-nav__item-mob {
    padding-left: 0;
  }

  .page-header__logo {
    margin: 0;
    padding-top: 22px;
  }

  .header-search {
    border-left: 1px solid #ececec;
    padding: 37px 32px 28px;
    margin-left: auto;
  }

  .header-search__span {
    display: none;
  }

  .header-search__img,
  .basket__img {
    left: 0;
    top: 0;
  }

  .main-nav__basket {
    border-left: 1px solid #ececec;
    padding: 30px 0;
  }

  .basket__img {
    padding: 0 29px;
    position: relative;
    top: 4px;
    left: 2px;
  }

  .basket__link {
    font-size: 17px;
  }

  .main-nav__info {
    display: inline-block;
    color: #444444;
    font-size: 15px;
    font-weight: normal;
    margin-left: auto;
    padding: 16px 0;
    order: 5;
  }
}

@media all and (min-width: 1150px) {
  .page-header {
    font-size: 17px;
  }

  .main-nav {
    width: 1050px;
    flex-wrap: wrap;
  }

  .site-list {
    display: flex;
    width: 380px;
    order: 0;
  }

  .site-list__item {
    order: 0;
    padding-top: 30px;

    &:first-child {
      border-right: 1px solid #ececec;
      padding-right: 35px;
    }

    &:last-child {
      padding-left: 35px;
    }
  }

  .page-header__logo {
    padding: 9px 0 0 0;
    order: 1;
    margin: 0 auto;
    margin-left: 71px;
  }

  .header-search {
    order: 2;
    margin: 0;
  }

  .main-nav__basket {
    order: 3;
  }

  .site-list-sale {
    display: flex;
    .no-list;
    width: 316px;
    padding: 17px 0;
    padding-right: 100px;
    justify-content: space-between;
    font-size: 15px;
    order: 4;
  }
}
