.page-header {
  font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #ececec;
}

.page-header {
  padding: 22px 0;
}

.site-list {
  list-style: none;
}

@padding-left: 76px;

.main-nav__list,
.main-nav__header-search,
.main-nav__basket {
  padding-left: @padding-left;
  margin: 0;
}
