.production {
  border: 1px solid #ededed;
  width: 260px;
}

.production__title {
  font-family: "OpenSansBold", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: black;
}
