.production {
  border: 1px solid #ededed;
  margin: 0 auto;
  width: 260px;
  margin-bottom: 58px;
  position: relative;
}

.production__play {
  position: absolute;
  border: none;
  background: transparent;
  width: 102px;
  height: 78px;
  padding: 0;
  top: 130px;
  left: 80px;
  cursor: pointer;

  &::before {
    .pseudo;
    background-image: url("../img/icon-play.svg");
    width: 102px;
    height: 78px;
    left: 0;
  }
}

.production__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  position: relative;
  padding-left: 59px;
  margin-left: 30px;
}

.production__title::before {
  .pseudo;
  background-image: url("../img/icon-video.svg");
  width: 32px;
  height: 22px;
  left: 3px;
  top: 11px;
}

.production__text {
  margin: 0 auto;
  padding: 0 35px;
  margin-top: 22px;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
}

.production__order {
  display: block;
  margin: 0 auto;
  width: 192px;
  margin-bottom: 32px;
  padding: 14px 0;
}

@media all and (min-width: 768px) {
  .production {
    width: 668px;
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
  }

  .production-video {
    order: 1;
  }

  .production__play {
    top: 187px;
    left: 283px;
  }

  .production__title {
    font-size: 20px;
    order: 2;
    margin: 31px 0 10px 47px;

    &::before {
      top: 0;
      left: -5px;
    }
  }

  .production__content-wrapper {
    order: 3;
  }

  .production__text {
    width: 590px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .production__order {
    width: 582px;
    margin-bottom: 45px;
  }
}

@media all and (min-width: 1150px) {
  .production {
    width: 1050px;
    height: 455px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    margin-bottom: 103px;
  }

  .production__play {
    left: 290px;
  }

  .production__play:hover {
    transform: scale(1.2);
  }

  .production__play:active {
    transform: scale(0.8);
    opacity: 0.3;
  }

  .production:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  .production:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  .production__title {
    width: 160px;
    position: absolute;
    top: 64px;
    right: 130px;
  }

  .production__title::before {
    left: 61px;
    top: -50px;
  }

  .production__content-wrapper {
    margin-top: 155px;
    margin-right: 25px;
  }

  .production__text {
    width: 230px;
    margin-top: 20px;
    margin-bottom: 47px;
  }

  .production__order {
    width: 226px;
    margin-left: 38px;
  }
}
